@{
    ViewData["Title"] = "Email non confirmé";
}

<div class="text-center">
    <h2>Email non confirmé</h2>
    <p>Votre adresse e-mail n'a pas encore été confirmée.</p>
    <p>Pour accéder à toutes les fonctionnalités de notre site web, veuillez suivre ces étapes :</p>

    <ol>
        <li>Vérifiez votre boîte de réception e-mail pour un message de notre part.</li>
        <li>Ouvrez l'e-mail de confirmation et cliquez sur le lien fourni.</li>
        <li>Une fois confirmé, vous pourrez vous connecter et utiliser le site web.</li>
    </ol>

    <p>Si vous n'avez pas reçu d'e-mail de confirmation, veuillez vérifier votre dossier spam ou courrier indésirable. 
        
    </p>

    <p>Si vous avez besoin d'une assistance supplémentaire, veuillez contacter notre équipe d'assistance à 1bouamri1998@gmail.com</p>
</div>
