@model StarApp.Core.ModelsView.Loginview

@*<div class="alert alert-danger">
    <span asp-validation-for="email"> </span>
    <span asp-validation-for="password"></span>
</div>*@



<div class="container">
    <div class="accordion" id="outerAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="section1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                    Outer Section 1
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="section1" data-bs-parent="#outerAccordion">
                <div class="accordion-body">
                    Content for Outer Section 1
                    <div class="accordion" id="innerAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="innerSection1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#innerCollapse1">
                                    Inner Section 1
                                </button>
                            </h2>
                            <div id="innerCollapse1" class="accordion-collapse collapse" aria-labelledby="innerSection1" data-bs-parent="#innerAccordion">
                                <div class="accordion-body">
                                    Content for Inner Section 1
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="innerSection2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#innerCollapse2">
                                    Inner Section 2
                                </button>
                            </h2>
                            <div id="innerCollapse2" class="accordion-collapse collapse" aria-labelledby="innerSection2" data-bs-parent="#innerAccordion">
                                <div class="accordion-body">
                                    <a href="#">Text</a>
                                </div>
                            </div>
                        </div>
                        <!-- Add more inner sections as needed -->
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="section2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2">
                    Outer Section 2
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="section2" data-bs-parent="#outerAccordion">
                <div class="accordion-body">
                    Content for Outer Section 2
                </div>
            </div>
        </div>
        <!-- Add more outer sections as needed -->
    </div>


    <div class="alert alert-danger">

    </div>
    <div class="row justify-content-center">
        
         <div class="col-md-6">
               <div class="card" >
                <div class="card-header text-center" style="border: none; background-color:white;">
                    <img src="https://clipground.com/images/hospital-logo-clipart-1.jpg" style="width: 100px; height: 100px;" alt="Circular Image" class="rounded-circle">
                    <h3>Login</h3>
                </div>
                    <div class="card-body">
                        <form asp-action="Login" method="post">
                            <div class="form-group">
                                <label for="email">email:</label>
                                <input type="text" class="form-control" id="email" name="email" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" />
                            </div>
                            <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check" style="margin-top:8px">
                                            <input type="checkbox" class="form-check-input" id="RememberMe" name="RememberMe" />
                                            <label class="form-check-label" for="RememberMe">Remember me</label>
                                        </div>
                                    </div>
                                 </div>

                                 <div class="col-md-6 text-end">
                                <p><a asp-controller="Account" asp-action="ForgotPassword" class="link-offset-2 link-underline link-underline-opacity-0" >Forgot your Password?</a></p>
                                 </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6" >
                                   <button style="margin-left:80px; margin-top:10px; width:100px; " type="submit" class="btn btn-primary">Login</button>
                                </div>
                                <div class="col-md-6 text-end">
                                   <p style="margin-top:17px">Don't have an account? <a asp-controller="Account" asp-action="register" class="link-offset-2 link-underline link-underline-opacity-0" >Sign up</a></p>
                                </div>
                                     
                            </div>
                            
                      </form>
                    </div>

               </div>
         </div>
    </div>
</div>